/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
p.BakedAndIced { font-size: 3rem; }
p.ByArelys { font-size: 1.5rem; }
@media (max-width: 786px) {
    p.BakedAndIced { font-size: 2rem; }
  }

  @media (max-width: 786px) {
    p.ByArelys { font-size: 1rem; }
  }